services:
  bot:
    build: .
    container_name: clove-bot
    restart: unless-stopped
    volumes:
      - ./src:/app/src
      - ./logs:/app/logs
      - ./command-ids.json:/app/command-ids.json
      - ./.env:/app/.env:ro
      - ./.env.keys:/app/.env.keys:ro